<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJwHcJjK5LwkFIVw5Ltw9YyrdPkxyA0DQ</string>
	<key>GCM_SENDER_ID</key>
	<string>435009779992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.janmatoniak.Etnetera</string>
	<key>PROJECT_ID</key>
	<string>etneterazadanie</string>
	<key>STORAGE_BUCKET</key>
	<string>etneterazadanie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435009779992:ios:ee6ef26ba4b2ea100cc66d</string>
	<key>DATABASE_URL</key>
	<string>https://etneterazadanie-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>